@use '../helpers' as *;

.hero{
    padding-bottom: fluid(63, 33);

    &__header{
        display: flex;
        justify-content: center;
    }

    &__main{
        margin-top: rem(61);
    }

    &__footer{
        padding-top: 17px;
        display: flex;
        justify-content: center;
    }
}