@font-face {
    font-family: "Actay";
    src: local("Actay Regular"),
        local("Actay-Regular"),
        url("/src/fonts/Actay-Regular.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Actay Wide";
    src: local("Actay Wide Bold"),
        local("Actay-Wide-Bold"),
        url("/src/fonts/ActayWide-Bold.woff2") format("woff2");
    font-weight: 700;
}

@font-face {
    font-family: "Inter";
    src: local("Inter Regular"),
        local("Inter-Regular"),
        url("/src/fonts/Inter-Regular.woff2") format("woff2");
    font-weight: 400;
}