@use 'helpers' as *;

:root{
    // color


    // font
    --font-family: "Actay", sans-serif;
    --second-family: "Actay Wide", sans-serif;
    --font3: "Inter", sans-serif;

    // width and padding
    --container-width: #{rem(1600)};
    --container-padding-x: #{rem(1600)};

    // animation
    --transition-duration: .2s;
}